@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap");

:root {
  --primary-color: #047aed;
  --primary-bg: #191919;
  --secondary-bg: #080707;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
}

/* Animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-900px) translateY(-50%);
  }
  80% {
    transform: translateX(50px) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(900px) translateX(-50%);
    opacity: 0;
  }
  80% {
    transform: translateY(-30px) translateX(-50%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

/* Utility */
h1 {
  color: white;
  padding: 20px 0;
  font-size: 64px;
  letter-spacing: -1px;
}
h2 {
  color: white;
  font-size: 40px;
  padding: 15px 0;
}
h3 {
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
}
h3 {
  color: white;
  font-size: 25px;
  padding: 10px 0;
}
h4 {
  color: #fcfc;
  letter-spacing: 2px;
  font-size: 20px;
  color: white;
}
p {
  color: white;
  line-height: 1.6;
  font-size: 18px;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

.btn {
  background-color: var(--primary-color);
  color: white;
  display: block;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.4s;
  border: 1px solid white;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-outline {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
}
.btn-outline:hover {
  background-color: var(--primary-color);
  color: white;
}

.highlight {
  font-size: 24px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}

.fa-solid {
  margin-left: 10px;
}

.title {
  text-align: center;
}

/* Hero */
.navbar {
  height: 70px;
  color: #fff;
}
.navbar ul {
  display: flex;
}
.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: #fff;
  font-size: 20px;
}
.navbar a:hover {
  border-bottom: 2px #fff solid;
}
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
}
.hero .content {
  position: absolute;
  top: 50%;
  left: 8%;
  animation: slideInLeft 2s forwards;
}
.hero .goto {
  position: absolute;
  bottom: 20%;
  left: 50%;
  animation: slideUp 2s forwards 0.5s;
  opacity: 0;
}

/* About */

.about {
  padding: 100px 0;
  background-color: var(--primary-bg);
}

.about-text {
  padding: 20px 50px;
}

/* Skills */
.skills {
  padding: 100px 0;
  background-color: var(--secondary-bg);
}

.grid-skills {
  grid-template-columns: repeat(6, 1fr);
}

.skills img {
  width: 100%;
  min-height: 50px;
  max-width: 70px;
}

.skills .card {
  padding: 10px 40px;
  height: 100px;
  transition: transform 0.2s ease-in;
}

.skills .card h4 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--secondary-bg);
}

.skills .card:hover {
  transform: translateY(-15px);
}

/* Projekte */

.projects {
  background-color: var(--primary-bg);
  padding: 100px 0;
  text-align: center;
}

.card i {
  font-size: 45px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: var(--primary-color);
}

.card h4 {
  color: rgb(135, 135, 135);
  margin-bottom: 20px;
}

.card p {
  color: rgb(135, 135, 135);
}

/* Kontakt */
.kontakt {
  padding: 100px 0;
  background-color: var(--secondary-bg);
}

.kontakt .left,
.kontakt .right {
  flex: 0 0 50%; /* flex-grow, flex-shrink, flex-basis */
  padding: 10px 15px;
}

.kontakt .contactform {
  display: flex;
  color: white;
}

.kontakt input,
.kontakt select {
  display: block;
  width: 100%;
  padding: 15px 5px;
  margin-bottom: 15px;
  font-size: 18px;
}

.kontakt textarea {
  width: 100%;
  font-size: 18px;
}

.kontakt label {
  display: block;
  font-size: 18px;
}

/* Footer */
.footer {
  padding: 20px 0;
  background-color: var(--primary-bg);
}

.footer .icon_wrapper {
  height: 50px;
  width: 50px;
  background-color: var(--primary-color);
  margin: 10px 10px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.footer .icon_wrapper i {
  font-size: 24px;
}

.footer .icon_wrapper:hover {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
  }
  .container {
    max-width: 500px;
  }
  .hero .content {
    text-align: center;
    left: 0;
    right: 0;
  }
  .hero .goto a {
    font-size: 18px;
  }
  .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-skills .flex {
    justify-content: center;
  }
  .navbar .flex {
    flex-direction: column;
  }
  .about .flex {
    flex-direction: column;
  }
  .about .about-text {
    text-align: center;
  }
  .projects .flex {
    flex-direction: column;
  }
  .contactform {
    flex-direction: column;
  }
  .contactform textarea {
    min-height: 150px;
  }
  .footer .icon_wrapper {
    height: 40px;
    width: 40px;
  }
  .footer p,
  .footer i {
    font-size: 16px;
  }
}
